@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
}

.home {
  background-size: cover;
  background-repeat: no-repeat;
}
.home .homeEffect {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background: rgba(255, 239, 100, 0.37);
  border-radius: 50px;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  padding: 20px;
}
.home a {
  text-decoration: none;
}
.home h1 {
  color: rgba(255, 60, 60, 0.9215686275);
}
.home .container {
  margin-top: 200px;
}
.home .pic:hover h1 {
  color: white;
}
.home .pic:hover .homeEffect {
  background: white;
  box-shadow: 0 5px 35px 0px rgba(225, 212, 212, 0.1);
}
.home .pic:hover .homeEffect::before, .home .pic:hover .homeEffect::after {
  display: block;
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: #fda8cf;
  border-radius: 50px;
  z-index: -1;
  animation: 1s clockwise infinite;
}
.home .pic:hover .homeEffect::after {
  background: #f3ce5e;
  animation: 2s counterclockwise infinite;
}
.home .pic:hover .underline-hover-effect::before {
  width: 100%;
}
.home .underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}
.home .underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.25s ease-out;
}
@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}
@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}

.sp-thongbao {
  color: red;
}

.nav2 {
  display: flex;
}

#navbarNavAltMarkup {
  justify-content: space-between;
}

header.container {
  padding: 25px;
}

.my-popup-custom {
  Width: 140px;
  Height: 70px;
  Background: rgb(228, 195, 237);
  Box-sizing: border-box; /* for inside padding */
  Padding: 10px;
  font-weight: 600;
  /* for center */
  Position: fixed;
  top: 50%;
  left: 50%;
  Transform: translate(-50%, -50%);
  /* for hider */
  display: none;
}/*# sourceMappingURL=styles.css.map */